*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color :rgb(95, 84, 84);
  font-family: 'Press Start 2P', cursive;
}

.world {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
}
.score {
  position: absolute;
  font-family: 'Press Start 2P', cursive;
  font-size: 3vmin;
  color :rgb(95, 84, 84);
  right: 1vmin;
  top: 3vmin;
}
.highScore{
  font-family: 'Press Start 2P', cursive;
  font-size: 3vmin;
  color :rgb(95, 84, 84);
  position: absolute;
  right:18vmin;
  top:3vmin;
  --highScore : 0;
}
.start-screen {
  position: absolute;
  font-size: 4.5vmin;
  font-family: 'Press Start 2P', cursive;
  color :rgb(95, 84, 84);
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu{
  position: fixed;
  top:10px;
  left:10px;
  height: 50px;
}
.hide {
  display: none;
}
.ground {
  --left: 0;
  width: 300%;
  position: absolute;
  bottom: 0;
  left: calc(var(--left) * 1%);
}
.dino {
  position: absolute;
  --bottom: 0;
  bottom: calc(var(--bottom) * 1%);
  left: 1%;
  height: 30%;
}
.cactus {
  position: absolute;
  bottom: 0;
  left: calc(var(--left) * 1%);
  height: 35%;
}
.cloud1{
  position:absolute; 
  top:10%;
  left: 10% ;
  height: 50%;
  width: 40%;
}
.cloud2{
  position:absolute; 
  top:10%;
  left: 60% ;
  height: 50%;
  width: 35%;
}
.bg-sky{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(imgs/sky.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 62vh;
}
.sun{
  position:absolute; 
  top:5%;
  right: 3vmin ;
  height: 30%;
  width: 15%;
}
.green{
  position: absolute;
  width: 100%;
  height: 100%;
}