*,
*::before,
*::after {
    box-sizing: border-box;
    user-select: none;
}
body{
    background: url(https://img.itch.zone/aW1hZ2UvMTEyMzY0My82ODQyOTk3LmdpZg==/original/thHw3k.gif);
    background-size: cover;
}
a{
    text-decoration: none;
    color : black;
}
.options{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
.options > *{
    font-family: 'Press Start 2P', cursive;
    margin : 25px 0px;
}
h1{
    font-size: 3em;
    padding: 10px ;
    background-color: bisque;
    box-shadow: 4rem;
    text-align: center;
}
button{
    padding: 2em;
    width: 30vw;
    line-height: 1.4em;
    font-size: 1.1em;
    background-color: rgb(126, 112, 112);
    border-radius: 5px;
    transition-property: transform;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}
button:hover{
    transform: scale(1.1, 1.1);
}
.volume{
    background-color: beige;
    padding: 10px 10px;
}
@media all and (max-width:1150px) {
    button{
        width: 60vw;
    }
}
.hide{
    display: none;
}